@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  box-sizing: border-box;
  @apply text-gray-900;
}

body summary {
  list-style: none;
}
body summary::-webkit-details-marker {
  display: none;
}
